ul {
    list-style-type: none;
}

/*-------GENERAL TEXT RULES -------*/

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

/*----------- NAV RULES ----------*/

nav {
    height: 3em;
    line-height: 2.3em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 600;
    display: inline-block;
    width: 100%;
    background: rgba(0,255,0,0.20);
    border: rgb(255,255,255);
    font-family: 'Roboto Slab', sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    /* Next line prevents links from jumping to wrong place in
 chrome and Safari*/
    transform: -webkit-transform; translateZ(0);
    transform: -moz-transform; translateZ(0);
    transform: -ms-transform; translateZ(0);
    /*transform: -o-transform; translateZ(0);*/
}

nav.nav_closed {
    overflow: hidden;
}

/* MENU button rules*/

a.menu {
    float: right;
    border: 1px solid rgba(255,255,255);
    color: rgba(255,255,255);
    width: 4em;
    margin-top: 5px;
    margin-right: 15px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 6px;
}
a.menu:{
    background: rgba(255,255,255);
    font-weight: 600;
}

/* Hide and Show Buttons*/

.btn-container
{
  
}
/*#navlist*/

ul.navlist {
    clear: right;
    list-style: none;
    background: rgba(0,255,0,0.15);
}
nav.nav_closed.ul#navlist {
    display: none;
}
nav.nav_open {
    overflow: visible;
    background: rgba(0,255,0,0.15);
}
nav.nav_open.ul#navlist {
    display: block;
    background: rgba(0,255,0,0.30);
}
nav.nav_open a.menu {
    background: rgba(0,255,0,0.30);
    color: rgb(255,255,255);
}
nav ul.navlist li a {
    display: block;
    width: 100%;
    height: 100%;
    border-top: 1px solid;
    color: rgb(255,255,255);
    text-decoration: none;
}
nav ul.navlist li a {
    background: rgba(0,255,0,0.30);
    text-decoration: none;
}

/*-------NOSCRIPT STYLES -------*/

#mainnav {
    padding-top: 4em;
}
#mainnav li {
    width: 100%;
    text-align: center;
    height: 2.5em;
    line-height: 2.5em;
    border-top: 1px rgb(255,255,255) solid;
}
noscript p {
    text-align: center;
    margin: 1em auto;
    width: 80%;
}

/*-------SECTION RULES -------*/


/* section.page-content*/

section.page-content {
    clear: both;
}

/*special PAGE-CONTENT rules*/

section.page-content div {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 4em;
    /*ensures h1s clear the
   persistent navbar at top*/
}

/* ----section#page-header rules---*/

section.page-header {
    height: 100vh;
    /*vh is "viewpoint height"*/
    width: 100%;
    background: url(Images/colorCode.jpg) no-repeat center center;
    background-size: cover;
    margin: auto;
    color: none;
    display: table;
    /*IMPORTANT: sets parent container to behave like
 a table*/
}
section.page-header header {
    width: 100%;
    text-align: center;
    display: table-cell;
    /*IMPORTANT: sets child to display like table
  cell for verticle centering*/
    verticle-align: middle;
    /*IMPORTANT: vertically centers text in
 "table cell" regardless of    parent resizing.*/
}
section.page-header h1 {
    font: 2.3em, 2 'Roboto Slab', sans-serif;
    font-weight: 300;
    padding-top: 4.25em;
    color: rgba(255,255,255);
    vertical-align: middle;
    margin: auto;
    text-decoration: overline;
    text-transform: uppercase;
}
section.page-header h2 {
    font: 1.5em'Roboto Slab', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: auto;
    text-decoration: underline;
    color: rgb(255,255,255);
}

/*special PROFILE rules */

section#profile {
    background: url(Images/cubeColor.jpg) no-repeat center center;
    background-size: cover;
    color: rgba(255,255,255);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 4em;
}
.about-me h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2em;
    font-weight: 700;
    margin: auto;
    color: rgba(255,255,255);
    text-transform: uppercase;
}
.about-me h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.35em;
    font-weight: 700;
    margin: auto;
    padding-bottom: 1em;
    color: rgba(255,255,255);
}
.about-me p {
    font: 4em 'Roboto Slab', sans-serif;
    font-weight: 400;
    font-size: 100%;
    margin: auto;
    font-style: bold;
}
.about-me a[href^="mailto:"]:hover:after {
    font-family: 'Roboto Slab', sans-serif;
    color: blue;
    font-size: 4em;
    margin: auto;
}

/*special HIGHLIGHTS rules */

section#highlights {
    background: url(Images/cubeColor.jpg) no-repeat bottom center;
    background-size: cover;
    color: rgba(255,255,255);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 4em;
}
.outcomes h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2em;
    font-weight: 700;
    margin: auto;
    color: rgba(255,255,255);
    text-transform: uppercase;
}
.outcomes h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.35em;
    font-weight: 700;
    margin: auto;
    padding-bottom: 1em;
    color: rgba(255,255,255);
}
.outcomes ul li:before {
    content: "\2605";
}
.outcomes p {
    font: 4em 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 100%;
    margin: auto;
    font-style: bold;
}

/*special EDUCATION rules */

section#education {
    background:  url(Images/cubeColor.jpg) no-repeat bottom center;
    background-size: cover;
    color: rgba(255,255,255);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 4em;
}
.degree h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2em;
    font-weight: 700;
    margin: auto;
    color: rgba(255,255,255);
    text-transform: uppercase;
}
.degree h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.35em;
    font-weight: 700;
    margin: auto;
    padding-bottom: 1em;
    color: rgba(255,255,255);
}
.degree article dt {
    font-weight: 700;
}
.degree article dd {
    font-weight: 700;
    font-style: bold;
}

/*special EXPERIENCE rules */

section#experience {
    background: url(Images/cubeColor.jpg) no-repeat center center;
    background-size: cover;
    color: rgba(255,255,255);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 4em;
    overflow: hidden;
}
.employment-snapshot h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2em;
    font-weight: 700;
    margin: auto;
    color: rgba(255,255,255);
    text-transform: uppercase;
}
.employment-snapshot h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.35em;
    font-weight: 700;
    margin: auto;
    padding-bottom: 1em;
    color: rgba(255,255,255);
}
.employment-snapshot p {
    font: 4em 'Roboto Slab', sans-serif;
    font-weight: 400;
    font-size: 100%;
    margin: auto;
    font-style: bold;
}

/*special SKILLS rules */

section#skills {
    background: url(Images/colorCode.jpg) no-repeat bottom center;
    background-size: cover;
    color: rgba(255,255,255);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 4em;
}
section.skills-applications h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2em;
    font-weight: 700;
    margin: auto;
    color: rgba(255,255,255);
    text-transform: uppercase;
}
section.skills-applications h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.35em;
    font-weight: 700;
    margin: auto;
    padding-bottom: 1em;
    color: rgba(255,255,255);
}
section.skills-applications ul li {
    font: 2em 'Roboto Slab', sans-serif;
    font-weight: 300;
    font-size: 100%;
    margin: auto;
    font-style: bold;
    padding-top: 4em;
}
